<p>Hello, <%= @user.username %></p>

<p>您要求重置密码</p>
<p>
  请点击下面的链接修改密码
  <% content_for :action do %>
    <%= link_to "修改密码", edit_password_reset_url(@user.reset_password_token)%>
    <%= @url %>
  <% end %>
</p>
<p>祝您生活愉快</p>
