
<div class="panel panel-default">
  <div class="panel-heading">
    <%= anwser.user.username %>( <%= anwser.created_at %> )
  </div>
  <div class="panel-body">
    <%= sanitize anwser.content %>
  </div>
</div>
