
<article>
  <div class="article-heading">
    <span><%= display_avatar(anwser.user, "35x35", "img-circle")%> <%= link_to anwser.user.username, user_path(anwser.user) %> 在 <%= anwser.created_at.to_s(:short) %> 回答：
  </div>
  <div class="article-body">
    <%= sanitize anwser.content %>
  </div>
</article>
