<div class="media-heading">
  <%= link_to notification.actor.username, main_app.user_path(notification.actor) %> 对你的评测发表了评论
  <%= link_to notification.second_target.title, main_app.review_path(notification.target.review) %>
</div>
<div class="media-content">
  <%= sanitize(notification.target.content) %>
</div>
