<div class="media-heading">
  <%= link_to notification.actor.username, main_app.user_path(notification.actor) %> 取消了喜欢你讨论的内容
  <%= link_to notification.second_target.title, main_app.knowledge_discussions_path(notification.second_target, notification.target) %>
</div>
<div class="media-content">
  <%= sanitize(notification.target.content) %>
</div>
