<div class="pull-right">
  <%= link_to("新增产品", new_admin_knowledge_path, class: "btn btn-info") %>
</div>
<br>
<hr>

<%= render :partial => "knowledge_item", :collection => @knowledges, :as => :knowledge %>
