<div id="action-buy">
  <% if current_user.find_action(:buy, target: @knowledge) %>
    <%= link_to unbuy_knowledge_path(@knowledge), :method => :post do %>
      <i class="fa fa-bookmark" id="action-buy-icon" aria-hidden="true"></i> 学过
    <% end %>
  <% else %>
    <%= link_to buy_knowledge_path(@knowledge), :method => :post do %>
      <i class="fa fa-bookmark-o" id="action-buy-icon" aria-hidden="true"></i> 学过
    <% end %>
  <% end %>
  <span class="badge" id="action-buy-count"><%= @knowledge.reload.buys_count %></span>
</div>
