<span id="knowledge-<%= @knowledge.id %>-buy">
  <% if current_user && current_user.find_action(:buy, target: @knowledge) %>
    <%= link_to unbuy_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-bookmark" aria-hidden="true"></i> 学过
    <% end %>
  <% else %>
    <%= link_to buy_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-bookmark-o" aria-hidden="true"></i> 学过
    <% end %>
  <% end %>
  <span class="badge" id="action-buy-count"><%= @knowledge.reload.buys_count %></span>
</span>
