<span id="knowledge-<%= @knowledge.id %>-have">
  <% if current_user && current_user.find_action(:have, target: @knowledge) %>
    <%= link_to unhave_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-bookmark" aria-hidden="true"></i> 学过
    <% end %>
  <% else %>
    <%= link_to have_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-bookmark-o" aria-hidden="true"></i> 学过
    <% end %>
  <% end %>
  <span class="badge" id="action-have-count"><%= @knowledge.reload.haves_count %></span>
</span>
