<div id="action-like">
  <% if current_user.find_action(:like, target: @knowledge) %>
    <%= link_to unlike_knowledge_path(@knowledge), :method => :post do %>
      <i class="fa fa-heart" id="action-like-icon" aria-hidden="true"></i> 喜欢
    <% end %>
  <% else %>
    <%= link_to like_knowledge_path(@knowledge), :method => :post do %>
      <i class="fa fa-heart-o" id="action-like-icon" aria-hidden="true"></i> 喜欢
    <% end %>
  <% end %>
  <span class="badge" id="action-like-count"><%= @knowledge.reload.likes_count %></span>
</div>
