<div id="action-star">
  <% if current_user.find_action(:star, target: @knowledge) %>
    <%= link_to unstar_knowledge_path(@knowledge), :method => :post do %>
      <i class="fa fa-star" id="action-star-icon" aria-hidden="true"></i> 收藏
    <% end %>
  <% else %>
    <%= link_to star_knowledge_path(@knowledge), :method => :post do %>
      <i class="fa fa-star-o" id="action-star-icon" aria-hidden="true"></i> 收藏
    <% end %>
  <% end %>
  <span class="badge" id="action-star-count"><%= @knowledge.reload.stars_count %></span>
</div>
