<span id="knowledge-<%= @knowledge.id %>-star">
  <% if current_user && current_user.find_action(:star, target: @knowledge) %>
    <%= link_to unstar_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-heart" aria-hidden="true"></i> 收藏
    <% end %>
  <% else %>
    <%= link_to star_knowledge_path(@knowledge), :method => :post, remote:true do %>
      <i class="fa fa-heart-o" aria-hidden="true"></i> 收藏
    <% end %>
  <% end %>
  <span class="badge" id="action-star-count"><%= @knowledge.reload.stars_count %></span>
</span>
