str = '<span id="knowledge-<%= @knowledge.id %>-follow"><%= link_to unfollow_knowledge_path(@knowledge), method: :post, remote: true do  %><i class="fa fa-eye" aria-hidden="true"></i> 关注 <span class="badge" id="action-follow-count"><%= @knowledge.reload.follows_count %><% end %></span></span>'
$("#knowledge-<%= @knowledge.id %>-follow").replaceWith(str)
