<div class="page-content">
  <div class="container">
    <div class="knowledge-wrap">
      <div class="knowledge-category">
      </div>
      <div class="knowledge-list" id="knowledge-list">
        <!-- <div class="row"> -->
          <%= render :partial => "knowledge_item", :collection => @knowledges, :as => :knowledge %>
        <!-- </div> -->

      </div>
    </div>
  </div>
</div>

<%= content_for :page_javascript do %>

  <script>
    <% if @knowledges %>
      var current_knowledge_id = <%= @knowledges.last.id %>;
      $(window).scroll(function(){
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
          var url = "/knowledges?max_id=" + current_knowledge_id;
          if (url) {
            $.ajax({
              method: "GET",
              url: url,
              dataType: "script"
            })
          } else {
            console.log("data ended")
          }
        }
      })
    <% end %>
  </script>
<% end %>
