<div class="page-content">
  <div class="container">
    <main>
      <section>
        <h2>推荐好知识</h2>
      </section>
      <section>
        <%= render "form" %>
      </section>
    </main>
  </div>
</div>
