str = '<span id="knowledge-<%= @knowledge.id %>-follow"><%= link_to follow_knowledge_path(@knowledge), :method => :post, remote:true do %><i class="fa fa-eye" aria-hidden="true"></i><p><%= @knowledge.reload.follows_count %> <small>关注</small></p><% end %></span>'
$("#knowledge-<%= @knowledge.id %>-follow").replaceWith(str)
