str = '<span id="knowledge-<%= @knowledge.id %>-learn"><%= link_to learn_knowledge_path(@knowledge), method: :post, remote: true do  %><i class="fa fa-cart-plus" aria-hidden="true"></i> 想学 <span class="badge" id="action-learn-count"><%= @knowledge.reload.learns_count %><% end %></span></span>'
$("#knowledge-<%= @knowledge.id %>-learn").replaceWith(str)
