str = '<span id="knowledge-<%= @knowledge.id %>-like"><%= link_to like_knowledge_path(@knowledge), :method => :post, remote:true do %><i class="fa fa-heart-o" aria-hidden="true"></i><p><%= @knowledge.reload.likes_count %> <small>喜欢</small></p><% end %></span>'
$("#knowledge-<%= @knowledge.id %>-like").replaceWith(str)
