str = '<span id="knowledge-<%= @knowledge.id %>-like"><%= link_to like_knowledge_path(@knowledge), method: :post, remote: true do  %><i class="fa fa-heart-o" aria-hidden="true"></i> 喜欢 <span class="badge" id="action-like-count"><%= @knowledge.reload.likes_count %><% end %></span></span>'
$("#knowledge-<%= @knowledge.id %>-like").replaceWith(str)
