str = '<span id="knowledge-<%= @knowledge.id %>-want"><%= link_to unwant_knowledge_path(@knowledge), method: :post, remote: true do  %><i class="fa fa-shopping-cart" aria-hidden="true"></i> 想学 <span class="badge" id="action-want-count"><%= @knowledge.reload.wants_count %><% end %></span></span>'
$("#knowledge-<%= @knowledge.id %>-want").replaceWith(str)
