/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simditor
 *= require simditor-markdown
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "jquery.raty";
 @import "social-share-button";


 body {
     font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Lantinghei SC', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
     background-color: #efefef;
     color: #333;
     font-size: 14px;
     letter-spacing: 0.1em;
 }


a {
  text-decoration: none !important;
  font-style: normal;
}

//---------Others  ---------
 /* change social-share-button icon size */

 $size: 18px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;

  }
}
//---------Others end ---------

.page-content {
  margin-top: 80px;
  min-height: 600px;
}

//---------Category index ---------
//---------Navbar---------

.navbar-wrap {
  margin: 0 -15px;
  padding: 0 15px;
}

.navbar {
  // width: 100%;
  margin: 0 auto;
}

.navbar-left {
  float: left;
}

.navbar-brand {
  float: left;
}


.navbar-wrap a {
  // color: #171B1F;
  text-decoration: none;
}

.navbar-listItem a:hover {
  cursor: pointer;
}


//---------Navbar End---------


//---------knowledge part  ---------
.knowledge-wrap {
  width: 100%;

  .knowledge-part {
    // width: 1200px;
    margin: 0 auto;
  }
}

.knowledge-wrap {
  .btn {
    border: none;
  }
}

//---------knowledge end  ---------
//---------Category index end ---------

//---------admin.html.erb ---------

.admin_search {
  width: 500px;
  position: relative;
  margin: 0px auto;

  .admin_form_input {
    width: 500px;
    height: 36px;
    line-height: 36px;
    color: #666;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    font-family: "microsoft yahei";
    background-color: #F3F4F4;
    padding: 4px 20px;
    outline: none;
  }

  .search-button {
    width: 36px;
    height: 36px;
    border: none;
    background: none;
    font-size: 16px;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    outline: none;
  }
}

  //---------admin.html.erb  end ---------
