<div class="page-content">
  <div class="container">
    <%#= render 'shared/categories' %>

    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">所有类别</a></li>
      <!-- <li class="active"><%#= @category.parent.title %></li> -->
      <li class="active"><%= @category.title %></li>
    </ol>
    <h1><%= @category.title %></h1>
    <hr>
    <%= render :partial => "knowledges/knowledge_item", :collection => @knowledges, :as => :knowledge %>

  </div>
</div>
